{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<!--<div class="page-header">-->
    <!--{% if student %}-->
    <!--<H1>{{student.name}} is added successfully!</H1>-->
    <!--{% endif %}-->
    <!--{% if referrer_yes %}-->
    <!--<H2>{{referrer.name}} changed to partner!</H2>-->
    <!--{% endif %}-->
    <!--{% if referrer_referrer_yes %}-->
    <!--<H3>{{referrer_referrer.name}} changed to leader!</H3>-->
    <!--{% endif %}-->
<!--</div>-->
<div>
    {{ wtf.quick_form(form) }}
</div>
<div>
    <ul>合伙人数量 : {{partner_number}}</ul>
    <ul>学员数量: {{student_number}}</ul>
</div>
<div>
    {% if partner_number %}
        {% for partner in partners %}
            <ul> 合伙人：{{partner.name}}</ul>
        {% endfor %}
    {% endif %}

    {% if student_number %}
        {% for student in students %}
            <ul> 学员：{{student.name}}</ul>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
