{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1>查询学员信息</h1>
<div>
    {{ wtf.quick_form(form) }}
</div>
<div>
    {% if student %}
        <ul><a href="{{url_for('.change_name', name=student.name) }}">学员姓名:{{student.name}}</a></ul>
        <ul>团队领导:{{student.team.leader}}</ul>
        <ul>引荐人:{{student.referrer}}</ul>
        <ul>学员角色:{{student.role}}</ul>
        <ul>加入时间:{{moment(student.timestamp).format('LLL')}}</ul>
        {% if a %}
        <ul>引荐学员数量:{{a}}</ul>
        {% else %}
        <ul>引荐学员数量: 0</ul>
        {% endif %}
    {% endif %}


</div>
{% endblock %}
